$orange: #E38826;
$cyan: #006970;
$darkCyan: #004241;
$gray: #F2F2F2;

*
{
    box-sizing: border-box;
}

html
{
    height:100%;
}

body
{
    font-size: 15px;
    font-family: "Lexend deca";
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $gray;
}

// this holds the three divs with car categories
.container
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}

// this styles each of the car categories
%category-style
{
    color: white;
    display: grid;
    grid-template-rows: 18% 18% 32% 32%;

     *
     {
         align-self: end;
         margin: 0;
         margin-top: 2rem;
         margin-left: 15%;
     }

    img
    {
        grid-row: 1/2;
    }

    p:first-of-type
    {
        font-family: "Big Shoulders Display";
        font-size: 3rem;
        grid-row: 2/3;
    }

    p:nth-of-type(2)
    {
        grid-row: 3/4;
        line-height: 1.5;
        letter-spacing: 1px;
        margin-right: 15%;
    }

    button
    {
        font-family: "Lexend deca";
        background-color: white;
        border: 2px solid white;
        border-radius: 50px;
        width: 50%;
        padding: 1rem 2rem;
        margin-bottom: 3rem;
    }
}

// this adds to each of the categories its own colour
@mixin category-colors($color)
{
    background-color: $color;

    button
    {
        color: $color;
        transition: .7s;

        &:hover
        {
            cursor: pointer;
            color: white;
            background-color: $color;
        }
    }
}

// these are the three car categories
.sedans
{
    @extend %category-style;
    @include category-colors($orange);
}
.suvs
{
    @extend %category-style;
    @include category-colors($cyan);
}
.luxury
{
    @extend %category-style;
    @include category-colors($darkCyan);
}

// this is the footer
footer
{
    font-size: 11px;
    text-align: center;

    a
    {
        color:hsl(228, 45%, 44%);
    }
}

// this is adjustment for desktop version
@media only screen and (min-width: 1000px)
{
    body
    {
        display: grid;
        grid-template-rows: 15% 75% 10%;
    }

    main
    {
        grid-row: 2/3;
    }

    .container
    {
        flex-direction: row;
        width: 70%;
        max-height: 600px;
    }

    footer
    {
        grid-row: 3/4;
    }
}

@media only screen and (max-height: 580px) and (max-width: 1245px)
{
    %category-style
    {
        grid-template-rows: 18% 18% 40% 24%;

        *
        {
            margin-top: 0;
        }

        p:first-of-type
        {
            font-size: 2rem;
            align-self: center;
        }

        button
        {
            width: 70%;
            margin-bottom: 1.5rem;
        }
    }
}