* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: "Lexend deca";
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F2F2F2;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
}

.sedans .category {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18% 18% 32% 32%;
      grid-template-rows: 18% 18% 32% 32%;
  background-color: #E38826;
  height: 100%;
}

.sedans .category * {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 0;
  margin-top: 2rem;
  margin-left: 15%;
}

.sedans .category__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.sedans .category__name {
  font-family: "Big Shoulders Display";
  font-size: 3rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.sedans .category__desc {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-right: 15%;
}

.sedans .category__button {
  font-family: "Lexend deca";
  background-color: white;
  border: 2px solid white;
  border-radius: 50px;
  width: 50%;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  color: #E38826;
  -webkit-transition: .7s;
  transition: .7s;
}

.sedans .category__button:hover {
  cursor: pointer;
  color: white;
  background-color: #E38826;
}

.suvs .category {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18% 18% 32% 32%;
      grid-template-rows: 18% 18% 32% 32%;
  background-color: #006970;
  height: 100%;
}

.suvs .category * {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 0;
  margin-top: 2rem;
  margin-left: 15%;
}

.suvs .category__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.suvs .category__name {
  font-family: "Big Shoulders Display";
  font-size: 3rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.suvs .category__desc {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-right: 15%;
}

.suvs .category__button {
  font-family: "Lexend deca";
  background-color: white;
  border: 2px solid white;
  border-radius: 50px;
  width: 50%;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  color: #006970;
  -webkit-transition: .7s;
  transition: .7s;
}

.suvs .category__button:hover {
  cursor: pointer;
  color: white;
  background-color: #006970;
}

.luxury .category {
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18% 18% 32% 32%;
      grid-template-rows: 18% 18% 32% 32%;
  background-color: #004241;
  height: 100%;
}

.luxury .category * {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 0;
  margin-top: 2rem;
  margin-left: 15%;
}

.luxury .category__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.luxury .category__name {
  font-family: "Big Shoulders Display";
  font-size: 3rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.luxury .category__desc {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-right: 15%;
}

.luxury .category__button {
  font-family: "Lexend deca";
  background-color: white;
  border: 2px solid white;
  border-radius: 50px;
  width: 50%;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  color: #004241;
  -webkit-transition: .7s;
  transition: .7s;
}

.luxury .category__button:hover {
  cursor: pointer;
  color: white;
  background-color: #004241;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

footer a {
  color: #006970;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer a:hover {
  color: #E38826;
}

@media only screen and (min-width: 1000px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 15% 75% 10%;
        grid-template-rows: 15% 75% 10%;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    max-height: 600px;
    margin-top: auto;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media only screen and (max-height: 600px) and (max-width: 1245px) {
  .sedans .category {
    -ms-grid-rows: 18% 14% 43% 25%;
        grid-template-rows: 18% 14% 43% 25%;
  }
  .sedans .category__name {
    font-size: 2rem;
  }
  .sedans .category__button {
    width: 65%;
    margin-bottom: 2rem;
  }
  .suvs .category {
    -ms-grid-rows: 18% 14% 43% 25%;
        grid-template-rows: 18% 14% 43% 25%;
  }
  .suvs .category__name {
    font-size: 2rem;
  }
  .suvs .category__button {
    width: 65%;
    margin-bottom: 2rem;
  }
  .luxury .category {
    -ms-grid-rows: 18% 14% 43% 25%;
        grid-template-rows: 18% 14% 43% 25%;
  }
  .luxury .category__name {
    font-size: 2rem;
  }
  .luxury .category__button {
    width: 65%;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */